<div>
    <h2 id="page-heading">
        <span jhiTranslate="drumbitiousBackendApp.skillType.home.title">Skill Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-skill-type" [routerLink]="['/skill-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="drumbitiousBackendApp.skillType.home.createLabel">
            Create a new Skill Type
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="skillTypes?.length === 0">
        <span jhiTranslate="drumbitiousBackendApp.skillType.home.notFound">No skillTypes found</span>
    </div>
    <div class="table-responsive" *ngIf="skillTypes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="drumbitiousBackendApp.skillType.skillTextKey">Skill Text Key</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let skillType of skillTypes ;trackBy: trackId">
                <td><a [routerLink]="['/skill-type', skillType.id, 'view' ]">{{skillType.id}}</a></td>
                <td>{{skillType.skillTextKey}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/skill-type', skillType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/skill-type', skillType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/skill-type', { outlets: { popup: skillType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
