<div>
    <h2 id="page-heading">
        <span jhiTranslate="drumbitiousBackendApp.finishedExercise.home.title">Finished Exercises</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-finished-exercise" [routerLink]="['/finished-exercise/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="drumbitiousBackendApp.finishedExercise.home.createLabel">
            Create a new Finished Exercise
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="finishedExercises?.length === 0">
        <span jhiTranslate="drumbitiousBackendApp.finishedExercise.home.notFound">No finishedExercises found</span>
    </div>
    <div class="table-responsive" *ngIf="finishedExercises?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="drumbitiousBackendApp.finishedExercise.actualBpm">Actual Bpm</span></th>
            <th scope="col" ><span jhiTranslate="drumbitiousBackendApp.finishedExercise.actualMinutes">Actual Minutes</span></th>
            <th scope="col" ><span jhiTranslate="drumbitiousBackendApp.finishedExercise.createDate">Create Date</span></th>
            <th scope="col" ><span jhiTranslate="drumbitiousBackendApp.finishedExercise.modifyDate">Modify Date</span></th>
            <th scope="col" ><span jhiTranslate="drumbitiousBackendApp.finishedExercise.finishedSession">Finished Session</span></th>
            <th scope="col" ><span jhiTranslate="drumbitiousBackendApp.finishedExercise.exercise">Exercise</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let finishedExercise of finishedExercises ;trackBy: trackId">
                <td><a [routerLink]="['/finished-exercise', finishedExercise.id, 'view' ]">{{finishedExercise.id}}</a></td>
                <td>{{finishedExercise.actualBpm}}</td>
                <td>{{finishedExercise.actualMinutes}}</td>
                <td>{{finishedExercise.createDate | date:'medium'}}</td>
                <td>{{finishedExercise.modifyDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="finishedExercise.finishedSessionId">
                        <a [routerLink]="['/finished-session', finishedExercise.finishedSessionId , 'view' ]" >{{finishedExercise.finishedSessionId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="finishedExercise.exerciseId">
                        <a [routerLink]="['/exercise', finishedExercise.exerciseId , 'view' ]" >{{finishedExercise.exerciseExerciseName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/finished-exercise', finishedExercise.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/finished-exercise', finishedExercise.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/finished-exercise', { outlets: { popup: finishedExercise.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
