<div>
    <h2 id="page-heading">
        <span jhiTranslate="drumbitiousBackendApp.i18nText.home.title">I 18 N Texts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-i-18-n-text" [routerLink]="['/i-18-n-text/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="drumbitiousBackendApp.i18nText.home.createLabel">
            Create a new I 18 N Text
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="i18nTexts?.length === 0">
        <span jhiTranslate="drumbitiousBackendApp.i18nText.home.notFound">No i18nTexts found</span>
    </div>
    <div class="table-responsive" *ngIf="i18nTexts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="drumbitiousBackendApp.i18nText.locale">Locale</span></th>
            <th scope="col" ><span jhiTranslate="drumbitiousBackendApp.i18nText.textKey">Text Key</span></th>
            <th scope="col" ><span jhiTranslate="drumbitiousBackendApp.i18nText.textContent">Text Content</span></th>
            <th scope="col" ><span jhiTranslate="drumbitiousBackendApp.i18nText.createDate">Create Date</span></th>
            <th scope="col" ><span jhiTranslate="drumbitiousBackendApp.i18nText.modifyDate">Modify Date</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let i18nText of i18nTexts ;trackBy: trackId">
                <td><a [routerLink]="['/i-18-n-text', i18nText.id, 'view' ]">{{i18nText.id}}</a></td>
                <td>{{i18nText.locale}}</td>
                <td>{{i18nText.textKey}}</td>
                <td>{{i18nText.textContent}}</td>
                <td>{{i18nText.createDate | date:'medium'}}</td>
                <td>{{i18nText.modifyDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/i-18-n-text', i18nText.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/i-18-n-text', i18nText.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/i-18-n-text', { outlets: { popup: i18nText.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
